@{
    ViewBag.Title = "Chess Academy CRM";
}

<h1>Chess Academy CRM</h1>

<p>Placeholder for brief description of the CRM</p>
<br />

<p></p>
<a asp-controller="home" asp-action="AcademyHome">Enter the Academy</a>
@{
}
